<!-- Custom head -->
<link rel="stylesheet" href="/css/font-awesom-all.min.css">
<style>
.home {
margin-bottom: 1em;
padding-bottom: 1em;
}

.home .lead {
font-size: 1.4em;
}

.code {
  	background: #fbf7f0;
  	color: #1d2d35;
  	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	border-radius: 0.375rem;
}

form.contact input, form.contact textarea {
	width: 100%;
        margin-bottom: 1em;
}

pre {
	margin: 0;
}
</style>
<script async="" src="https://stats.emf.fr/matomo.js"></script>
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.emf.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
