{{ define "main" }}
<section class="section container home">
  <div class="row">
	<div class="col lg-6">
  		<div class="row justify-content-center">
    			<div class="text-center">
      				<h1 class="mt-0">{{ .Title }}</h1>
    			</div>
    			<div class="text-center">
      				<p class="lead">{{ .Params.lead | safeHTML }}</p>
      				<a class="btn btn-primary btn-lg px-4 mb-2" href="https://w.adno.app" role="button">{{ .Params.started | safeHTML }}</a>
      				<a class="btn btn-success btn-lg px-4 mb-2" href="{{ .Params.urlSamples | safeHTML }}" role="button">{{ .Params.samples | safeHTML }}</a>
      				<p class="meta">{{ .Params.license | safeHTML }}</p>
    			</div>
         	</div>
   	 </div>
	<div class="col lg-6">
		<img src="images/flammarion.jpg" title="Flammarion, L'Atmosphère : météorologie populaire, 1888, gravure sur bois présente au chapitre «La forme du ciel»" />
   	 </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">{{ .Params.ad1Title | safeHTML }}</h2>
        <p>{{ .Params.ad1Description | safeHTML }}</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">{{ .Params.ad2Title | safeHTML }}</h2>
        <p>{{ .Params.ad2Description | safeHTML }}</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">{{ .Params.ad3Title | safeHTML }}</h2>
        <p>{{ .Params.ad3Description | safeHTML }}</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">{{ .Params.ad4Title | safeHTML }}</h2>
        <p>{{ .Params.ad4Description | safeHTML }}</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">{{ .Params.ad5Title | safeHTML }}</h2>
        <p>{{ .Params.ad5Description | safeHTML }}</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">{{ .Params.ad6Title | safeHTML }}</h2>
        <p>{{ .Params.ad6Description | safeHTML }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
